@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>STYLIST PROFILE</h2>
<hr />
<h3>Clients for @Html.DisplayFor(model => model.StylistName):</h3>

@if (@Model.Clients.Count == 0)
{
  <h4>This stylist has no clients yet!</h4>
}

@foreach (Client client in Model.Clients)
{
  <h4>+ @client.ClientName</h4>
}
</ul>
<hr />
<p>@Html.ActionLink("Edit this stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Remove this stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Return to all stylists", "Index")</p>
<p>@Html.ActionLink("Return home", "Index", "Home")</p>