@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>STYLIST PROFILE</h2>
<hr />
<h3>@Html.DisplayFor(model => model.StylistName)</h3>
</ul>
<hr />
<p>@Html.ActionLink("Back to stylists", "Index")</p>
<p>@Html.ActionLink("Edit this stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Remove this stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>