  
@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist's profile: @Html.DisplayFor(model => model.StylistName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.Label("Stylist Name: ")
    @Html.EditorFor(model => model.StylistName, new {required="required"})
    <br>
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to all stylists", "Index")</p>