  
@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>
<hr />
<h4>Edit @Html.DisplayFor(model => model.StylistName) profile:</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.Label("Name:")
    <br>
    @Html.TextBoxFor(model => model.StylistName, new {type="text", required="required", @class="form-control"})
    <br>
    <input type="submit" value="Save" class="btn btn-dark">
}
<hr />
<p>@Html.ActionLink("Back to all stylists", "Index")</p>
<p>@Html.ActionLink("Return home", "Index", "Home")</p>

