@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client

<h2>NEW CLIENT</h2>
<hr />
@using (Html.BeginForm())
{
    <label>Name: </label>
    @Html.TextBoxFor(model => model.ClientName, new {type="text", required="required", @class="form-control"})
    <br>
    <label>Hair Style: </label>
    @Html.TextBoxFor(model => model.Style, new {type="text", required="required", @class="form-control"})
    <br>
    <label>Phone Number (digits only): </label>
    @Html.TextBoxFor(model => model.Phone, new {type="tel",  placeholder="503XXXXXX", required="required", @class="form-control"})
    <br>
    <label>Stylist: </label>
    @Html.DropDownList("StylistId", null, new { @class="form-control"})
    <br>
    <input type="submit" value="Save" class="btn btn-warning">
}
<hr />
<p>@Html.ActionLink("Return to all clients", "Index")</p>
<p>@Html.ActionLink("Return home", "Index", "Home")</p>