@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>NEW CLIENT</h4>

@using (Html.BeginForm())
{
        <label>Name:</label>
    @Html.TextBoxFor(model => model.ClientName)

    <label>Style:</label>
    @Html.TextBoxFor(model => model.Style)

    <label>Phone:</label>
    @Html.TextBoxFor(model => model.Phone)

    <label>Stylist:</label>
    @Html.DropDownList("StylistId")

    <input type="submit" value="Add Client" class="button" />
}
<p>@Html.ActionLink("Show all clients", "Index")</p>