@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>CLIENT PROFILE</h2>
<hr />
<h4><strong>Name:</strong> @Html.DisplayFor(model => model.ClientName)</h4>
<h4><strong>Style:</strong> @Html.DisplayFor(model => model.Style)</h4>
<h4><strong>Phone Number:</strong> @Html.DisplayFor(model => model.Phone)</h4>
<hr />
<p>@Html.ActionLink("Edit this client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Remove this client", "Delete", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Return to all clients", "Index")</p>
<p>@Html.ActionLink("Return home", "Index", "Home")</p>
